*.pyc
__pycache__/
openpi_test/data_raw/
openpi_test/data_transformed/
openpi_test/openpi/checkpoints/
openpi_test/openpi/model/
examples/experiments/ram_insertion/demo_data/
examples/experiments/ram_insertion/first_run*/
examples/utils/Log/*
examples/experiments/ram_insertion/cyclonedds.log
examples/experiments/ram_insertion/wandb
lerobot/
*.tar
*.gz
*.zip
*.safetensors
*.pkl
*.png
*.jpg
*.jpeg
.vscode/
