*.pyc
__pycache__/
openpi_test/data_raw/
openpi_test/data_transformed/
openpi_test/openpi/checkpoints/
openpi_test/openpi/model/
examples/experiments/*/0803train/
examples/experiments/*/0731train/
examples/experiments/*/demo_data/
examples/experiments/*/first_run*/
examples/utils/Log/*
examples/experiments/*/cyclonedds.log
examples/experiments/*/wandb
lerobot/
*.tar
*.gz
*.zip
*.safetensors
*.pkl
*.png
*.jpg
*.jpeg
.vscode/
